@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

.store-buttons {
	position: fixed;
	top: 0px;
	right: 20px;
	z-index: 9999;
	text-align: center;
	ul {
		-webkit-padding-start: 0px;
	}
	li {
		display: inline-block;
		margin-left: 20px;
		list-style-type: none;
	}
	@media screen and (max-width: 700px) {
		left: 0;
	}

	@media screen and (max-width: 500px) {
		.app-store {
			width: 107px;
			height: 32px;
		}
		.mac-app-store {
			width: 136px;
			height: 32px;
		}
	}
}

section {
	margin: 40px auto 70px;
	text-align: center;
	padding: 40px 20px 65px;
	position: relative;
	width: 93%;
	@media screen and (max-width: 900px) {
		padding: 40px 20px 20px;
	}
}

.track-location {
	background: url('../images/map.png') no-repeat;
	background-size: cover;
  background-position: bottom right;
  text-align: left;
  h2 {
  	margin-bottom: 20px;
  	color: $blue-grey;
  }
  h4 {
  	color: $blue-grey;
  }
}

.feature-bg-grad {
	@include linear-gradient(-221deg, #FFFFFF 0%, #E8F4F9 100%);
}

.feature-image, .feature-copy {
	text-align: left;
}

.feature-image {
	.inner {
		img {
			width: 100%;
			max-width: 377px;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
}

.logs {
	h4 {
		color: $purple;
	}
}

.todos {
	h4 {
		color: $green;
	}
}

.files {
	h4 {
		color: $orange;
	}
}

.device-sync {
	h2, h4 {
		color: $blue;
	}
	.icloud-devices {
		width: 153px;
	}
	img.icloud-logo {
		width: 260px;
	}
}

.feature-index {
	width: 100%;
	border-top: 2px solid $light-grey;
}

.testimonial {

}

.row {
	margin-bottom: 30px;
	@include clearfix;
}

.testimonials {
	padding-bottom: 60px;
	@include linear-gradient(48deg, #3271B0 0%, #42CBB4 100%);
	@include clearfix;
	h2,h4,p {
		color: #fff;
	}
	h4, p {
		text-align: left;
	}
	.store-buttons {
		position: relative;
		h2 {
			margin-bottom: 30px;
		}
		ul {
			margin-bottom: 60px;
		}
	}

	footer {
		p {
			margin-bottom: 30px;
			text-align: center;
			span {
				color: #fff;
				font-size: 14px;
				text-align: center;
				display: block;
				margin-top: 30px;
			}
			a {
				color: #fff;
			}
		}
	}
}

.white-transparency {
	background: rgba(255, 255, 255, .075);
}





