.hero {
	background-color: #29566F;
	background-image: -webkit-linear-gradient(108deg, #2FAAD4, #204D63 90%);
	padding: 110px 0 40px;
	@include clearfix;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.15);
	.inner {
		width: 100%;
		max-width: 1270px;
		margin: 0 auto;
	}
	.product-intro {
		position: relative;

		.app-icon {
			width: 100px;
			height: 100px;
		}
	}

	.divices {
		img {
			display: block;
			margin-top: 40px;
			width: 100%;
			max-width: 729px;
			height: auto;
  		float: right;
		}
	}

	.animated-icons {
		display: block;
		width: 100%;
		max-width: 1000px;
		margin: 40px auto 40px;
		.animated {
			display: inline-block;
			margin-left: 2.9%;
			margin-right: 2.9%;
		}
	}

	@media screen and (max-width: 1200px) {
	  /* Stack anything that isn’t full-width on smaller screens */
	  .grid .unit {
	    width: 100% !important;
	    padding-left: 20px;
	    padding-right: 20px;
	  }
	  .unit .grid .unit {
	    padding-left: 0px;
	    padding-right: 0px;
	  }

	  /* Sometimes, you just want to be different on small screens */
	  .center-on-mobiles {
	    text-align: center !important;
	  }
	  .hide-on-mobiles {
	    display: none !important;
	  }

	  text-align: center;
	  padding-top: 75px;

	  .divices img {
		  float: none;
		  margin: 0 auto;
		}
	}

	@media screen and (max-width: 1200px) {
		.animated-icons {
			display: none;
		}
		.divices {
			margin-bottom: 40px;
		}
	}
}
