.pin {
	position: absolute;
	.animated {
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
	}
}

.orange-pin {
	top: 230px;
	right: 150px;
}

.purple-pin {
	top: 30px;
	right: 320px;
}

.blue-pin {
	top: 200px;
	right: 440px;
}

.red-pin {
	top: 290px;
	right: 220px;
}

.green-pin {
	top: 150px;
	right: 320px;
}

.map-address {
	position: absolute;
	top: 95px;
	right: 169px;
}
