body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: em(36);
	font-weight: $font-weight-semi-bold;
	color: $off-black;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

h2 {
	font-size: em(40);
	font-weight: $font-weight-light;
	color: $off-black;
	margin: 20px 0 70px;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	@media screen and (max-width: 900px) {
		font-size: em(30);
		margin: 20px 0 40px;
	}
}

.device-sync {
	h2 {
		margin-bottom: 20px;
	}
}

h3 {
	color: $blue;
	font-weight: $font-weight-normal;
}

h4 {
	-webkit-margin-before: 0;
  	-webkit-margin-after: 0;
  	font-weight: $font-weight-normal;
  	font-size: 22px;
  	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	}

p {
	color: $body;
	font-size: em(16);
	line-height: 1.75;
	font-weight: $font-weight-light;
}
