body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: em(52);
	font-weight: $font-weight-light;
	color: $off-black;
}

h2 {
	font-size: em(40);
	font-weight: $font-weight-light;
	color: $off-black;
	margin-bottom: 50px;
}

h4 {

}

p {
	color: $body;
	font-size: em(18);
	line-height: 1.75;
	font-weight: $font-weight-light;
}
