$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;


//colors
$off-black: #254657;
$body: #204D63;

$purple: #999ED3;
$green: #42CBB4;
$orange: #FF814B;
$blue-grey: #7493AE;
$blue: #3271B0;
$light-grey: #E8EEF0;
